.updateStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.img--container {
    position: relative;
    width: 40%;
    padding-top: 20px;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid white;
}

.btn {
    position: absolute;
    top: 85%;
    left: 85%;
    border: none;
    background-color: #36454F;
    width: 4vw;
    height: 2vw;
    border-radius: 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    transition: all;
    transition-duration: 0.2s;
}
.btn:hover {
    background-color: #28282B;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    padding: 20px;
    background-color: wheat;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    transition: all;
    transition-duration: 0.2ms;
}

.description {
    font-size: 20px;
    background-color: black;
    opacity: 0.8;
    text-shadow: 0px 0px white;
    border-radius: 20px;
}

.links--section {
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    opacity: 0.93;
}
.twitter {
    margin-bottom: 0px;
}

.trailer {
    margin-bottom: 1px;
}

.trailerLink {
    text-decoration: none;
    color: #f00;
    transition: all;
    transition-duration: 0.2s;
}
.trailerLink:hover {
    text-shadow: 0px 0px 1px #f00;
}

.twitterLink {
    text-decoration: none;
    color: rgb(29, 155, 240);
    transition: all;
    transition-duration: 0.2s;
}
.twitterLink:hover {
    text-shadow: 0px 0px 1px rgb(29, 155, 240);
}

.transitionDiv {
    background: red;
    height: 100px;
    width: 200px;
    margin: 0 auto;
  }
  
  @keyframes inAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  
  @keyframes outAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }